@import '../../scss/mixin';

.partners{
    // @include padding;
    >img{
        margin:1rem 4.5rem;
    }
    p{
        text-align: center;
    }
}
@media screen and (max-width:990px){
    .partners{
        >img{
            margin:1rem;
        }
    }
}